#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  padding: 9px 2px;
}

button {
  align-self: self-end;
}

section {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

ol {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
}
