form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form_field label {
  font-weight: 600;
}

.form_field input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
}

.form_field .error_input {
  border: 2px solid rgb(233, 14, 14);
}

.error {
  color: rgb(233, 14, 14);
  font-size: 1.4rem;
  font-weight: 600;
}

form button {
  font-family: 'Outfit', sans-serif;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 8px;
  cursor: pointer;
  width: 50%;
}
