:root {
  --primary-color: #61ecbc;
  --white-color: #fff;
  --black-color: #182339;

  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: var(--white-color);
  font-size: 2rem;
  background-color: rgba(24, 35, 57, 0.6);
  background-blend-mode: darken;
}
